/* Some Common Code START here */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #E55473;
}
.primary-btn{
    cursor: pointer;
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border: 0;
}
.coomon-h3{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* Some Common Code END here */

/* nav-menu START here */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 0px 0px;
}
.top-menu-container ul li{
    list-style: none;
    display: inline-block;
}
.top-menu-container ul li a{
    color: #E55473;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: bold;
}
/* nav-menu END here */

/* Header Section START here */
.heading{
    background: rgba(229, 84, 115, 0.10);
}
.heading-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px  30px 0px 30px;
}
.heading-tittle{
    margin-top: 20px;
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.top-tittle{
    color: #272727;
    font-size: 30px;
    font-weight: bolder;
}
.heading-info{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
}
.header-photo{
    width: 300px;
    height: 565px;
    padding-top: 30px;
}
/* Header Section END here */

/* Featured Section START here */
#Featured-section{
    width: 100%;
    height: 550px;
    margin: 20px 0px;
    text-align: center;
}
.featured-flowers-container{
    width: 80%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.featured-flowers-box-1{
    width: 27%;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-flowers-box-2{
    width: 27%;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}
.featured-flowers-box-3{
    width: 27%;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-photo{
    width: 210px;
    height: 380px;
    padding: 20px;
    padding-bottom: 0px;
}
.order-link{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* Featured Section END here */

/* delivary section START here */
#delivary-section{
    width: 100%;
}
.delivary-container{
    width: 80%;
    height: 250px;
    margin: 50px auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delivary-box{
    text-align: center;
}
.delivary-icon{
    width: 70px;
    height: 70px;
    margin: 20px;
}
/* delivary section END here */

/* hot deal section START here */
#hot-deal{
    margin: 55px 0px;
    width: 100%;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal{
    text-align: center;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hot-deal-tittle{
    color: #272727;
    padding: 15px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-text{
    padding: 15px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hot-img{
    width: 200px;
    height: 350px;
}
/* hot deal section END here */

/* Instagram-Section START here */
#Instagram-Section{
    text-align: center;
    width: 80%;
    margin: 50px auto;
}
.insta-info{
    width: 67%;
    margin: 0% auto;
}
.insta-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.insta-icon{
    width: 250px;
    height: 270px;
}
/* Instagram-Section END here */
/* input-section START here */
.input-section{
    text-align: center;
    padding-top: 50px;
    width: 80%;
    height: 250px;
    margin: 50px auto;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}#email{
    width: 350px;
    height: 45px;
    padding: 23px;
    margin: 25px 5px 25px 0px;
    border: none;
    border-radius: 5px;
    background: #FFF;
}
/* input-section END here */
/* Footer section START here */
#footer{
    width: 100%;
    height: 250px;
    background: #111010;
    color: #fff;
    text-align: center;
}
.footer-content{
    width: 50%;
    padding: 50px;
    margin: 0 auto;
}
.footer-tittle{
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
}
#copy-right{
    color:rgba(255, 255, 255, 0.40);
}
/* Footer section START here */