/* Some Common Code START here */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #E55473;
}
.primary-btn{
    cursor: pointer;
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border: 0;
}
/* Some Common Code END here */
/* Header Section START here */
.heading{
    background: rgba(229, 84, 115, 0.10);
}
.heading-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px  30px 0px 30px;
}
.heading-tittle{
    margin-top: 20px;
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.heading-info{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
}
.header-photo{
    width: 300px;
    height: 565px;
    padding-top: 30px;
}
/* Header Section END here */
/* hot deal section START here */
#hot-deal{
    margin: 55px 0px;
    width: 100%;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal{
    text-align: center;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hot-deal-tittle{
    color: #272727;
    padding: 15px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-text{
    padding: 15px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hot-img{
    width: 200px;
    height: 350px;
}
/* hot deal section END here */